
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <a href="#" class="navbar-brand">Yelpcamp</a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav">
                  <a href="/campgrounds" class="nav-item nav-link active">Home</a>
                  <a href="/campgrounds" class="nav-item nav-link">campgrounds</a>
                  <a href="/campgrounds/new" class="nav-item nav-link">new campground</a>
                 
              </div>
              <div class="navbar-nav ms-auto">
                <% if(!currentuser){ %> 
                  <a href="/login" class="nav-item nav-link">Login</a>
                  <a href="/register" class="nav-item nav-link">Register</a>
                  <% } else{ %> 
                  <a href="/logout" class="nav-item nav-link">logout</a>
                  <% } %> 
              </div>
              
          </div>
      </div>
  </nav>

