
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <a href="#" class="navbar-brand h5 active ">Card Exchange</a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav">
                  <a href="/" class="nav-item nav-link active h5">Home</a>
                  <a href="/cards" class="nav-item nav-link h5 active ">cards</a>
                  <a href="/cards/new" class="nav-item nav-link h5 active " >Rent ur Card</a>
                 
              </div>
              <div class="navbar-nav ms-auto">
                <% if(!currentuser){ %> 
                  <a href="/login" class="nav-item nav-link h5 ">Login</a>
                  <a href="/register" class="nav-item nav-link h5 ">Register</a>
                  <% } else{ %> 
                  <a href="/logout" class="nav-item nav-link h5 ">Logout</a>
                  <% } %> 
              </div>
              
          </div>
      </div>
  </nav>

